@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        --color-blue-ribbon-50: #eff6ff;
        --color-blue-ribbon-100: #dbeafe;
        --color-blue-ribbon-200: #bfdbfe;
        --color-blue-ribbon-300: #93c6fd;
        --color-blue-ribbon-400: #60a6fa;
        --color-blue-ribbon-500: #3b83f6;
        --color-blue-ribbon-600: #2564eb;
        --color-blue-ribbon-700: #1d4fd8;
        --color-blue-ribbon-800: #1e41af;
        --color-blue-ribbon-900: #1e3b8a;
        --color-blue-ribbon-950: #172554;
        --color-black-100: #0a0a0a;

        --color-portal-50: #f7f3ff;
        --color-portal-100: #efe9fe;
        --color-portal-200: #e2d6fe;
        --color-portal-300: #cbb5fd;
        --color-portal-400: #ad8bfa;
        --color-portal-500: #8b5cf6;
        --color-portal-600: #713aed;
        --color-portal-700: #5e28d9;
        --color-portal-800: #4e21b6;
        --color-portal-900: #421d95;
        --color-portal-950: #2a1065;

        --color-medium-purple-50: #f7f3ff;
--color-medium-purple-100: #efe9fe;
--color-medium-purple-200: #e2d6fe;
--color-medium-purple-300: #cbb5fd;
--color-medium-purple-400: #ad8bfa;
--color-medium-purple-500: #8b5cf6;
--color-medium-purple-600: #713aed;
--color-medium-purple-700: #5e28d9;
--color-medium-purple-800: #4e21b6;
--color-medium-purple-900: #421d95;
--color-medium-purple-950: #2a1065;

--color-portal-50: #eff4ff;
--color-portal-100: #dbe6fe;
--color-portal-200: #bfd3fe;
--color-portal-300: #93b4fd;
--color-portal-400: #6090fa;
--color-portal-500: #3b76f6;
--color-portal-600: #2563eb;
--color-portal-700: #1d58d8;
--color-portal-800: #1e4baf;
--color-portal-900: #1e408a;
--color-portal-950: #172a54;



--color-void-50: #f6f6f6;
--color-void-100: #e7e7e7;
--color-void-200: #d1d1d1;
--color-void-300: #b0b0b0;
--color-void-400: #888888;
--color-void-500: #6d6d6d;
--color-void-600: #5d5d5d;
--color-void-700: #4f4f4f;
--color-void-800: #454545;
--color-void-900: #3d3d3d;
--color-void-950: #0a0a0a;


--color-deep-50: #f6f6f6;
--color-deep-100: #e7e7e7;
--color-deep-200: #d1d1d1;
--color-deep-300: #b0b0b0;
--color-deep-400: #888888;
--color-deep-500: #6d6d6d;
--color-deep-600: #5d5d5d;
--color-deep-700: #4f4f4f;
--color-deep-800: #454545;
--color-deep-900: #3d3d3d;
--color-deep-950: #1a1a1a;










}


